<h2>Make a free account!</h2>

<form action="register" method="POST">

<label>Set A Username</label>
<input type="text" name="username">

<label>Password</label>
<input type="text" name="password">

<button>Save</button>
</form>