<h2>Edit Celeb!</h2>
<form action="celebrities/edit/" method="POST">
    <input name="name" placeholder="Name" type="text" value="{{ onePerson.name }}">
    <input name="occupation" placeholder="Occupation" type="text" value="{{ onePerson.occupation }}">
    <input name="catchphrase" placeholder="Catchphrase" type="text" value="{{ onePerson.catchphrase }}">
    <button>Save Changes!</button>
</form>