<h2>Add a new Celeb...</h2>

<form action="/celebrities/new" method="POST">
    <label for="">Name</label>
    <input name="name" type="text">
    <br>
    <label for="">Occupation</label>
    <input name="occupation" type="text">
    <br>
    <label for="">Catchphrase</label>
    <input name="catchphrase" type="text">
    <br>
    <button>Create New Celeb!</button>
</form>