<h2>Add a new Movie...</h2>

<form action="/movies/new" method="POST">
    <input name="title" type="text" placeholder="Title">
    <br>
    <input name="genre" type="text" placeholder="Genre">
    <br>
    <input name="plot" type="text" placeholder="Plot">
    <br>
    <select name="starring">

        {{#each actors}}

        <option value="{{this._id}}">{{this.name}}</option>

        {{/each}}

    </select>
    <button>Create New Movie!</button>
</form>